#About_container{
    /* border: 1px solid black; */
    height: 500px;
    background-color: black;
    color: white;
}
#About_container>h1{
    font-size: 30px;
    padding-top:4%;
    text-decoration:underline;
}
#About_container>h3{
    /* border: 1px solid; */
    font-size:19px;
    width: 50%;
    margin: auto;
    margin-top:6%;
    text-align:justify;
}
#about_avatar{
    width:10%;
    margin-left:84%;
}

@media only screen and (max-width:440px){
    #About_container{
        /* border: 1px solid black; */
        height:450px;
        background-color: black;
        color: white;
    }
    #About_container>h1{
        font-size:28px;
        padding-top:15%;
        text-decoration:underline;
    }
    #About_container>h3{
        /* border: 1px solid; */
        font-size:15px;
        width:75%;
        margin: auto;
        margin-top:15%;
        text-align:justify;
    }
    #about_avatar{
        width:24%;
        margin-left:78%;
        margin-top:4%;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    #About_container>h3{
        /* border: 1px solid; */
        font-size:18px;
        width:75%;
        margin: auto;
        margin-top:15%;
        text-align:justify;
    }
   
}