.calender_div{
    background-color: black;
    height:440px;
    color: white;
    /* border: 1px solid; */
}
.calender_div>h1{
    font-size: 30px;
    padding-top:1%;
    letter-spacing: 1px;
    font-weight:400;
}
.calender{
    /* border: 1px solid; */
    width:55%;
    margin: auto;
    margin-top:6%;
}

@media (min-width:200px) and (max-width: 481px){
    .calender_div{
        margin-top: -158%;
    }
    .calender{
        width:90%;
        margin-top:20%;
    }
   
}