.navbar_container{
    border: 1px solid black;
    height: 70px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    
}

.navbar_div{
    display: flex;
    /* border: 1px solid white; */
    width:50%;
    align-items: center;
    justify-content:space-evenly;
    cursor: pointer;
    margin-left:80vh;
}
