body{
    margin: 0;
    padding: 0;
    
}
.navbar_container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 70px;
    background-color:black;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 20; 
    display: flex;
    justify-content:center;
}

ul{
    display: flex;
    color:white;
    justify-content: space-evenly;
    /* border: 1px solid white; */
    list-style: none;
    width:60%;
    font-size:17px;
    align-items: center;
}
li{
    letter-spacing: 1.5px;
    font-weight: lighter;
    
}
li:hover{
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform:scale(1.1);
    /* color: #ffde59; */
}

@media (min-width:200px) and (max-width: 481px){
    .navbar_container{
        width: 100%;
    }
    .ul{
       border: 1px solid white;
       
    }
    .navbar_div>h3{
        font-weight:100;
        font-size:12px;

    }
    #Resume_navbtn{
        width:19%;
    }
  
}

@media (min-width: 481px) and (max-width: 767px){
    .navbar_div{
        width:85%;
        margin:auto;
     }
     .navbar_div>h3{
        font-size:16px;
     }
}