body{
    height: 300vh;
    margin: 0;
    padding: 0;
}
.navbar_container{
    border: 1px solid black;
    height: 70px;
    background-color:black;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex; 
}

.navbar_div{
    display: flex;
    /* border: 1px solid white; */
    width:45%;
    color: white;
    align-items: center;
    justify-content:space-between;
    cursor: pointer;
    margin: auto;
    margin-left:40%;
}

.navbar_div>h3{
    font-weight:300;
    font-family: 'Jost', sans-serif;
    font-size:17px;
}

.navbar_div>h3:hover{
    color:#ffde59;
}


#Resume_navbtn{
    color: black;
    background-color:#ffde59;
}

#Resume_navbtn:hover{
    background-color: black;
    color: white;
    border: 0.5px solid white;
}

@media (min-width:200px) and (max-width: 481px){
    .navbar_div {
       width:85%;
       border: 1px solid;
       margin:auto;
       padding-right:3%;
    }
    .navbar_div>h3{
        font-weight:100;
        font-size:12px;
        padding:6px;
    }
  
}

@media (min-width: 481px) and (max-width: 767px){
    .navbar_div{
        width:85%;
        margin:auto;
     }
     .navbar_div>h3{
        font-size:16px;
     }
}