
.project_div{
    border: 1px solid black;
    height:200vh; 
    background-color:black; 
}
.project_div>h1{
    font-size: 30px;
    padding-top:8%;
    color:white;
    letter-spacing: 1px;
    font-weight:400;
}

.project_onetwo{
    /* border: 1px solid white; */
    width: 85%;
    margin: auto;
    height: 530px;
    margin-top:4%;
    display: flex;
    justify-content:space-evenly;
}
.project_threefour{
    width: 85%;
    margin: auto;
    height: 530px;
    margin-top:4%;
    display: flex;
    justify-content:space-evenly;
}
.project{
    border: 1px solid white;
}
.project_img{
    height: 230px;
    
}
.card_body{
    color: white;
    text-align:left;
}
.project_btn{
    background-color:#ffde59;
}
.languages_icon{
    display: flex;
    /* border: 1px solid; */
    margin-top:2%;
    
}
.languages_icon>img{
    width:12%;
    cursor: pointer;
}
.languages_icon>img:hover{
    transition: all .3s ease-in-out;
    transform:scale(1.1);
}


@media (min-width:200px) and (max-width: 481px){
    .project_div{
        border: 1px solid black;
        height:400vh; 
        background-color:black; 
        width:100%;
    }
    .project_onetwo{
        width:100%;
        margin: auto;
        height:440px;
        margin-top:6%;
        display: grid;
        margin-left:10%;
    }
    .project{
        width: 80%;
        margin-top:8%;
        height:fit-content;
    }
    .project_threefour{
        width:100%;
        margin: auto;
        margin-top:170%;
        display: grid;
        margin-left:10%;
    }
    .project_img{
        height:150px;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .project{
        margin-left: 2%;
    }
    .project_div{
        height:140vh;
    } 
}