.stats{
    background-color: black;
    height:660px;
    /* margin-top: 4%; */
}
.stats>h1{
    font-size: 30px;
    color: white;
    padding-bottom:2%;
    letter-spacing: 1px;
    font-weight:400;
}
.contribution{
    width:60%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top:4%;
}

@media (min-width:200px) and (max-width: 481px){
    .contribution{
        width:85%;
        display: grid;
        margin: auto;
        padding-top:10%;
    }
   
    
}